@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
body {
  font-family: "Red Hat Display";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  color: #717fa6;
}

h1 {
  font-weight: 900;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  color: #1f2e55;
}

.body p {
  margin-top: 16px;
  text-align: center;
}

a {
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #382ae1;
  cursor: pointer;
}
